<!DOCTYPE html>
<html lang="en">


{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{%static 'styles/css/bootstrap.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">
  <meta charset="utf-8">
  <title>Achievements</title>
</head>

<body>
  <!-- Nav Bar -->
  <!-- <object type="text/html" data="asdf.html"></object> -->
  <header>
    {% include "lab4-navbar.html"%}
  </header>
  <!-- mulai bukan nav -->
  <div>
    <div>
      <h1 class="font-italic judulPage">Achievements</h1>
    </div>
    <div class="Artic">
      <ol style="font-size: x-large;">
        <li>Bronze Mealist</li> 
          <p>National Olympiad in Informatics (2015, 2016)</p>
        <li>Syc Contingee</li>
          <p>Representative from Indonesia in SYC 2016 in Singapore</p>
        <li>2nd step of National Training</li>
          <p>Selection onto IOI 2016</p>
        <li>Lorem Ipsum</li>
          <p>Goodluck PPW</p> 
      </ol>
    </div>
  </div>
</body>