<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<meta charset="utf-8">
	<title>Contact Me</title>
</head>

<body>
	<!-- Nav Bar -->
  <header>
    {% include "lab4-navbar.html"%}
  </header>

	<div>
      <div class="row ContactMeStart2" style="text-align: center;">
        <div >
          <img src="{% static 'media/LinkedIn.png'%}" class="socMedLogo col-4" style="border-radius: 50%">
          <a href="https://www.linkedin.com/in/dhipta-raditya-9a1bb6152/" style="font-size: x-large;">Linkedin</a>
        </div>
      </div>
      <div class="row ContactMeStart2" style="text-align: center;">
        <div >
          <img src="{% static 'media/facebook.png'%}" class="socMedLogo col-4" style="border-radius: 50%">
          <a href="https://www.facebook.com/dhipta.raditya" style="font-size: x-large;">Facebook</a>
        </div>
      </div>
      <div class="row ContactMeStart2" style="text-align: center;">
        <div >
          <img src="{% static 'media/twitter.png'%}" class="socMedLogo col-4" style="border-radius: 50%">
          <a href="https://twitter.com/raditya_dhipta" style="font-size: x-large;">Twitter</a>
        </div>
      </div>
	</div>
</body>