<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">
	<meta charset="utf-8">
	<title>Education</title>
</head>

<body>
	<!-- Nav Bar asdf-->
  <header>
    {% include "lab4-navbar.html"%}
  </header>

	<!-- Mulai Education  -->
	<div class="container">
		
		<div class="row">
			<div class="col" style="max-height: 1000px">
				<p class="ExpTextTitle font-italic"> 
					Education
				</p>
			</div>

			<ol class="col ExpTextDesc" style="max-height: 1000px ">
				<li>
					Lorem ipsum dolor sit amet, sed ei aeque eleifend. 
				</li>
				<li>
					Vivendo periculis prodesset eos te, quo eruditi quaerendum contentiones in, vim ut volutpat repudiare mediocritatem. 
				</li>
				<li>
					Ut mei brute laudem habemus, has audiam suscipiantur ne. 
				</li>
				<li>
				Sea assentior rationibus moderatius cu, vivendum atomorum sit no. 
				</li>
				<li>
					Alii splendide ea eos.
				</li>
			</ol>
			<div class="vl"></div>

		</div>
	</div>
</body>