<!DOCTYPE html>
<html lang="en">



{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">
	<meta charset="utf-8">
	<title>Experiences</title>
</head>

<body>
	<!-- Nav Bar -->
  <header>
    {% include "lab4-navbar.html"%}
  </header>
	<!-- Mulai Experience  -->
	<div class="container">
		
		<div class="row">
			<ul class="col ExpTextDesc" style="max-height: 1000px ">
				<li>
					Lorem ipsum dolor sit amet, sed ei aeque eleifend. 
				</li>
				<li>
					Vivendo periculis prodesset eos te, quo eruditi quaerendum contentiones in, vim ut volutpat repudiare mediocritatem. 
				</li>
				<li>
					Ut mei brute laudem habemus, has audiam suscipiantur ne. 
				</li>
				<li>
				Sea assentior rationibus moderatius cu, vivendum atomorum sit no. 
				</li>
				<li>
					Alii splendide ea eos.
				</>
			</ul>
			<div class="vl"></div>
			<div class="col" style="max-height: 1000px">
				<p class="ExpTextTitle font-italic"> 
					Experiences
				</p>
			</div>
		</div>
	</div>
</body>