<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{%static 'styles/css/bootstrap.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">

	<meta charset="utf-8">
	<title>Home Page</title>
</head>

<body>

  <!-- Nav Bar -->
  <header>
    {% include "lab4-navbar.html"%}
  </header>

	<!-- Mulai bukan navbar -->
	<div class="articleText">
		<img src="{%static "media/Author.jpeg" %}" class="img-fluid rounded mx-auto d-block spc" alt="Author" style="max-width: 40%; border-radius: 50%">
		<p class="font-italic">Dhipta Raditya Yudhasmara</p>
		<p>Magelang, 08 January 1999</p>
		<p>University Of Indonesia</p>
		<p class="nav-link active" href="#">Depok, West Java</p>
	</div>
</body>