{% load static %}

<link rel="stylesheet" type="text/css" href="{%static "styles/css/bootstrap.css"%}">
<link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">


<div>
  <ul class="nav navbarInt">
    <li>
      <img class="logoMenu" src="{% static 'media/D_logo.png'%}">
    </li>
    <li class="nav-item ">
      <a class="nav-link navbarText active" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbarText active" href="achievements">Achievements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbarText active" href="experiences">Experiences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbarText active" href="education">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbarText  active" href="login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbarText  active" href="contactMe">Contact Me</a>
    </li>
  </ul>
</div>
