<!DOCTYPE html>
<html lang="en">

{% load static %}


<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="{%static "styles/css/index.css"%}">

	<title>Login</title>
</head>

<body>
  <header>
    {% include "lab4-navbar.html"%}
  </header> 
  <h1 class="eachForm">Registration</h1>
  <div class="form-group row eachForm">
    <label for="Name" class="cate col-1 ">name</label>
    <input type="text" name="Event" class="theForm">
  </div>

  <div class="form-group row eachForm">
    <label for="userName" class="cate col-1">username</label>
    <input type="text" name="userName" class="theForm">
  </div>

  <div class="form-group row eachForm">
    <label for="userEmail" class="cate col-1">Email</label>
    <input type="email" id="userEmail" class="theForm" aria-describedby="emailHelp">
  </div>

  <div class="form-group row eachForm">
    <label for="userPass" class="cate col-1">password</label>
    <input type="password" name="pass" class="theForm">
  </div>

  <div class="form-group row eachForm">
    <label for="reenter-password" class="cate col-1">reenter-password</label>
    <input type="password" name="pass" class="theForm">
  </div>

  <div class="form-group row eachForm">
    <label for="birthday" class="cate col-1">birthday</label>
    <input type="date" name="date" class="theForm">
  </div>
</body>
</html>